<% provide(:title, "Edit project") %> 
<h1>Update your project</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :micropost %>
      <%= f.text_field :micropost %>


      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>